.navbar {
  background-color: #978080;
  padding: 1rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 0.5rem;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #85c0ff;
}

.search-tag-container {
  display: flex;
  align-items: center;
  width: 800; /* Adjust width as needed */
}

.search-button {
  background-color: #112132;
  color: white;
  border: 1px solid #000000;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-button:hover {
  background-color: #0056b3;
}

.divider {
  width: 1px;
  background-color: #ddd;
  height: 100%;
}

.dropdown-container {
  position: relative;
}

.search-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0;
  gap: 0.5rem;
  min-height: 2.5rem;
  background-color: white;
  white-space: nowrap;
  width: 200px;
}

.tag-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0rem;
  gap: 0.5rem;
  min-height: 2.5rem;
  max-height: 2.5rem;
  background-color: white;
  white-space: nowrap;
  width: 400px;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin; /* For Firefox: make the scrollbar thinner */
  scrollbar-color: #ccc transparent; /* For Firefox: customize scrollbar colors */
}

.tag {
  background-color: #007bff;
  color: white;
  padding: 0.3rem 0.3rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.remove-tag-button {
  background: none;
  border: none;
  color: white;
  margin-left: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.remove-tag-button:hover {
  color: #ff4d4d;
}

.dropdown-input {
  border: none !important;
  flex: 1;
  font-size: 1rem;
  outline: none;
  min-width: 10px; /* Ensure the input is always visible */
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.dropdown-item {
  padding: 4px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.no-matches {
  color: #999;
}

.unclickable {
  pointer-events: none; /* Disable click events */
}

.highlighted {
  background-color: #f0f0f0;
}