.navbar {
  background-color: #978080;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #85c0ff;
}

.search-tag-container {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 400px; /* Adjust width as needed */
}

.search-button {
  background-color: #112132;
  color: white;
  border: 1px solid #000000;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-button:hover {
  background-color: #0056b3;
}

.divider {
  width: 1px;
  background-color: #ddd;
  height: 100%;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.no-matches {
  color: #999;
}

.unclickable {
  pointer-events: none; /* Disable click events */
}

.highlighted {
  background-color: #f0f0f0;
}