.alert-box {
  height: 250px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  color: black;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.alert-msg {
  margin-top: 20px;
}

.close-btn {
  background-color: #875050;
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 15px;
  margin-top: 40px;
  transition: 0.2s
}

.close-btn:hover {
  background-color: #724343;
  cursor: pointer;
}